venv/*
*/.idea/*
dash-pcb/.pio/build/project.checksum
dash-pcb/.pio/build/teensy41/idedata.json
dash-pcb/.vscode/c_cpp_properties.json
dash-pcb/.vscode/launch.json
data-analysis/.idea/data-analysis.iml
data-analysis/.idea/workspace.xml
data-analysis/__pycache__/data.cpython-39.pyc
